@model IEnumerable<hw3webapp.TodoItem>

@{
    ViewData["Title"] = "All Your Todos";
}

@functions
{

    string daysLeft(DateTime dateStart,DateTime? dateDue)
    {
        DateTime dateDueUnpacked = dateDue.GetValueOrDefault();
        if (dateDueUnpacked != null && dateDueUnpacked != default(DateTime))
        {
            return "(Za " + dateDueUnpacked.Subtract(dateStart).TotalDays.ToString() + " dana!)";
        }
        return "";
    }
    

}

<!DOCTYPE html>
<html>

<head></head>
<body>
<h2>All Your Todos</h2>

<p>
    <a asp-action="Create">Create New</a> <br/><br/>
</p>

@foreach (var todoItem in Model)
{
    if(!todoItem.IsCompleted){
         <div class="item">
             @todoItem.Text 
             @daysLeft(todoItem.DateCreated, todoItem.DateDue) <br/>
             @todoItem.DateCreated.Date.ToString("dd.MM.yyyy.")<br/>
             <a asp-action="MarkAsComplete" asp-route-id="@todoItem.Id">Mark as complete</a><br/><br/>
         </div>
     }
}

</body>
</html>





