@model IEnumerable<hw3webapp.TodoItem>

@{
    ViewData["Title"] = "All Your Todos";
}

@functions
{

    string daysLeft(DateTime dateStart,DateTime? dateDue)
    {
        DateTime dateDueUnpacked = dateDue.GetValueOrDefault();
        if (dateDueUnpacked != null && dateDueUnpacked != default(DateTime))
        {
            return "(Za " + dateDueUnpacked.Subtract(dateStart).TotalDays.ToString() + " dana!)";
        }
        return "";
    }
    

}

<!DOCTYPE html>
<html>

<head></head>
<body>
<span class="bg-inverse text-white"><h2>All Your Todos</h2></span>


<a class="btn btn-info" asp-action="Index"><span class="glyphicon glyphicon-chevron-left"></span> Go Back</a> 


@foreach (var todoItem in Model)
{
    if(todoItem.IsCompleted){
        <div class="item">
            @*
            <h4>@todoItem.Text</h4> @daysLeft(todoItem.DateCreated, todoItem.DateDue) <br/>
            @todoItem.DateCreated.Date.ToString("dd.MM.yyyy.")<br/> *@
            @Html.Partial("SingleTodoItem",todoItem)
            
        </div>
    }
}

</body>
</html>





